{% extends 'base.html' %}
{% block content %}
<div>
    <h1 id="fim" style="
        position: fixed;
        top: 45%;
        left: 45%;
        margin-top: -60px;
        margin-left: -170px;
        color: #000;
        font-size: 5rem;
        background: #fff;">
        Você já votou!
    </h1>
</div>

<script nonce="{{ CSP_NONCE }}" type="text/javascript">
    window.onload = function() {
        setTimeout(function () {
            window.location.href = "../";
        }, 2000);
    }
</script>
{% endblock %}