{% extends 'base.html' %}
{% block content %}
<h1 id="fim" style="position: fixed;
                top: 45%;
                left: 45%;
                margin-top: -60px;
                margin-left: -100px;
                color: #000;
                font-size: 10em;
                background: #fff;">Obrigado por votar!</h1>
<script type="text/javascript">
    window.onload = function() {
        setTimeout(function () {
            window.location.href = "../home/";
        }, 2000);
    }
</script>
{% endblock %}