{% extends 'base.html' %}
{% block content %}

<div class="col-12">

    <div class="row" style="padding: 1rem ;background-color: #FFD616; height: 6.5rem">

        <div class="col-4">
            <h1 style="color: #2e4074; text-align: center; font-size: 1.2rem">Bem vindo{% if user.first_name != 'Aluno' %}, {{ user }} {% else %}, Aluno {% endif %}
            </h1>

        </div>

        <div class="col-4">
            <h1 style="color: #2e4074; text-align: center; font-size: 1.2rem">Votação para o DCE</h1>
        </div>

        <div class="col-4">
            {% if user.is_staff %}
                <p>
                    <a href="{% url 'zeresima' %}" type="button" class="btn btn-danger btn-block btn-sm">Zerésima (Zerar votos)</a>
                    <a href="{% url 'bu' %}" type="button" class="btn btn-info btn-block btn-sm">Boletim de Urna</a>
                </p>
            {% else %}
                <h1 style="color: #2e4074; text-align: center; font-size: 1.2rem">Voto anônimo</h1>
            {% endif %}

        </div>

    </div>

</div>

<div class="col-12">
    <div class="row">
        {% for chapa in data %}

            <div class="card bg-light" style="width: 18rem; margin: 2rem">
                <img class="card-img-top" src="{{chapa.chapa.foto.url}}" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-title">Chapa: {{chapa.chapa.nome}}</h5>
                    <p class="card-text">Número: {{chapa.chapa.numero}}</p>
                    <a href="{% url 'voto' chapa.chapa.numero %}" type="button" class="btn btn-success btn-block btn-lg" style="color: white">Votar</a>
                </div>
            </div>

        {% endfor %}
    </div>

</div>

{% endblock %}